body{
    background: white;
    display: flex;
    flex-direction: row;
    font-family:  Arial, Helvetica, sans-serif;
}

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100%;
    background-color: black;
    z-index: 1000;

}

#table{
    position: fixed;
    padding-top: 0px;
    padding-left: 220px;
}

#mainsection{
    position: fixed;
    padding-left: 220px;
}

form {
    padding-top: 30px;
    
}

#sidebar .brand{
    color: white;
}

#sidebar img{
    padding-left: 40px;
    padding-top: 25px;
    width: 120px;
    height: 100px;
    align-self: center;
    color: black;
}

#sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu .text{
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
}

#sidebar .side-menu .bx{
    color: white;
}




#sidebar .side-menu li:hover .bx{
    color: rgb(131, 66, 139);
}

#sidebar .side-menu li:hover .text{
    color: rgb(131, 66, 139);
}

#sidebar .side-menu li{
    height: 48px;
    padding: 10px;
    padding-left: 0%;
    color: black;
    margin-left: 0px;
    border-radius: 48px 0 0 48px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sidebar .side-menu a {
    text-decoration: none;
}

img{
    width: 50px;
    height: 50px;
}




